* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font: 14px sans-serif;
  color: #333333;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px;
}

.project-form {
  width: 400px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.form-row {
  margin-bottom: 0.5em;
}
