@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #363F55;
  font: 14px sans-serif;
  color: #B8BBC1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  min-width: 460px;
}

header {
  width: 100%;
  background-color: #323848;
  padding: 50px 40px;
  color: #EE6161;
  display: flex;
  align-items: center;
  font-size: 24px;
}

header > img {
  margin-right: 20px;
}

header > strong {
  font-weight: 700;
}

ul {
  width: calc(100% - 30px);
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  column-gap: 15px;
  row-gap: 15px;
}

li {
  list-style: none;
  padding: 20px 16px;
  background-color: #45506A;
  text-align: center;
  border-radius: 3px;
}

li > strong {
  color: #B8BBC1;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

li > span {
  color: #EE6161;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.project-form {
  width: 400px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.form-row {
  margin-bottom: 0.5em;
}

.container {
  width: 100%;
  padding: 50px 40px 120px;
  
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #45506A;
  border-top: 1px solid #EE6161;
  padding: 15px 40px;
}

.project-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-form > input {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 14px 16px;
  margin-right: 10px;
  width: 30%;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #45506A;
}

button {
  display: block;
  padding: 10px;
  border: none;
  background-color: #EE6161;
  color: #ffffff;
  padding: 14px 40px;
  border-radius: 40px;
  font-size: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #AC545C;
}
